.splash_outer {
  width: 100%;
  height:100%;
  display: flex;
  position: absolute;
  background-color: #40C4FF;
  justify-content: center;
}

.splash_logo {
  width: 100px;
  animation: 0.3s logo_anim ease-in forwards;
  opacity: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50%;
}

.splash_text {
  position: absolute;
  opacity: 0;
  bottom: 50%;
  animation: 0.5s 0.5s logo_text_anim ease-in forwards;
}

@keyframes logo_anim {
  from {opacity: 0;}
  to{opacity: 1;}
}

@keyframes logo_text_anim {
  from {transform: translateY(0px);opacity: 0}
  to{transform: translateY(40px);opacity: 1}
}