.login_outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #40C4FF;
}

.ipt_area {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  bottom: 50%;
}

.userIdIpt {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 14px;
  border-style: none
}

.userIdIpt:focus {
  border:1px solid #0091EA;
}

input::placeholder {
  font-size: 14px;
  color:#B0BEC5;
  font-family: sans-serif;
  font-weight: lighter;
}

.loginBtn {
  outline:none;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  margin-top: 10px;
  background: #0091EA;
  border:0px;
  color:white;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 14px;
}

.finger_code_display {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  bottom:0%;
  padding: 0;
  margin: 0;
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 12px;
}

.finger_code_display_hidden {
  display: none;
}

.finger_code_display_show {
  display: flex;
}


