.submit_btn {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border-style: none;
  background-color: #0091EA;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

.submit_btn_outer {
  width: 90%;
  margin-top: 10px;
}