.nav_top {
  display: flex;
  width: 100%;
  height: 25px;
  align-items: center;
}

.nav_bottom {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 40px;
  align-items: center;
}

.logo {
  height: 22px;
  margin-left: 10px;
}

.nav {
  display: flex;
  width: 100%;
  height: 65px;
  position: fixed;
  flex-wrap: wrap;
  left: 0px;
  top:0px;
  background-color: #40C4FF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index:100;
}

.nav_show {
  margin-top: 0px;
  transition: all 0.2s cubic-bezier(.25,.1,.25,1);
}

.nav_hide {
  margin-top: -20px;
}