.loading {
  display: flex;
  position: fixed;
  width: 48px;
  height: 48px;
  animation: 0.8s loading_anim infinite linear;
  bottom:50%;
  z-index: 1000;
}

@keyframes loading_anim {
  from {transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}