.input_outer {
  width: 100%;
  height:100%;
}

.input_area {
  display: flex;
  width: 100%;
  background-color: #ECEFF1;
  border-style:none;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 20px;
  color: black;
  font-weight: lighter;
  font-family: sans-serif;
}

.input_single_line {
  height: 50px;
  align-items: center;
}

.input_multiple_line {
  height: 120px;
  width: 100%ß;
}

input::placeholder {
  font-size: 14px;
  color:#B0BEC5;
  font-family: sans-serif;
  font-weight: lighter;
}

textarea::placeholder {
  font-size: 14px;
  color:#B0BEC5;
  font-family: sans-serif;
  font-weight: lighter;
}