.indicator_item {
  height: 100%;
  flex: 1;
  position: relative;
}

.indicator_text {
  width: 100%;
  height: 95%;
  color: #000000;
  font-family: sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.indicator_underline {
  width: 100%;
  height: 5%;
  background-color: #000000;
}

.item_wave {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  /*position: absolute;*/
  opacity: 1;
  /*animation: 0.8s wave_anim infinite linear;*/
}

.item_wave_show {
  animation:5s ease-in wave_anim;
}

@keyframes wave_anim {
  0%{transform:scale(1);opacity: 0}
  80%{transform: scale(3000);opacity: 1}
  100%{opacity: 0}
}

.selected {
  opacity: 1;
  font-size: 15px;
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.unselected {
  opacity: 0.5;
  font-size: 14px;
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.slide_selected {
  opacity: 1;
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.slide_unselected {
  opacity: 0;
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}