.text_container_outer {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
  background-image: url(../../../../asset/default_bg_wall.png);
  opacity: 0.8;
}

.text_container_multiple {
  height: 200px;
}

.text_container_single {
  height: 270px;
}

p {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  width: 95%;
}

hr {
  background-color: #ffffff;
  width: 98%;
  height: 1px;
  border: none;
  color: #ffffff;
  opacity: 0.4;
  margin-top: 5px;
}

.code {
  font-size: 28px;
  color:#000000;
  font-weight: bolder;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color:#000000;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.comment {
  margin-bottom: 5px;
  font-size: 16px;
  color:#000000;
  word-wrap:break-word;
}